<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a class="ftr-logo" href="./index.html">
        <svg width="216" height="20">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <p class="footer-slogan">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="footer-menu-contacts">
      <nav class="footer-nav">
        <ul class="footer-menu">
          <li><a href="#how-it-works">HOW IT WORKS</a></li>
          <li><a href="#vegetables">VEGETABLES</a></li>
          <li><a href="#reviews">REVIEWS</a></li>
        </ul>
      </nav>

      <div class="footer-contacts">
        <a href="tel:+380684439426">+380 (68) 443-94-26</a>
        <p class="footer-cont-text">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="pr-pol">
      <a href="#">Privacy Policy </a> / <a href="#"> Cookie settings</a>
    </p>
    <p class="logo-ftr-end">© Green Harvest 2023</p>
  </div>
</footer>