<header class="header-section">
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-logo-link" href="#">
        <svg class="header-logo">
          <use
            class="header-logo-icon"
            href="/images/icons.svg#icon-logo"
          ></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="header-shop-wrap">
      <button class="header-buy-btn" type="button">
        <span class="btn-text">Shop now</span>
        <span class="hover-effect"></span>
      </button>
    </div>
  </div>
</header>
