

<header id="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__inner-top">
				<div class="burger">
					<svg class="close" 
						width="32" 
						height="32">
						<use href="../img/icons.svg#icon-burger"></use>
					</svg>
					<svg class="open"  
						width="32" 
						height="32">
						<use href="../img/icons.svg#icon-close"></use>
					</svg>
				</div>
			</div>
			<div class="mobile_menu">
				<ul>
					<li>
						<a href="">How It Works</a>
					</li>
					<li>
						<a href="#">Vegetables</a>
					</li>
					<li>
						<a href="#">Reviews</a>
					</li>
				</ul>
				<a class="main_cta" href="#">Shop now</a>
			</div>
		</div>
	</div>
</header>