

<header id="header">
	<div class="container-mobile">
		<div class="header__wrapper">
			<div class="header__inner-top">
				<div class="burger">
					<svg class="close" 
						width="32" 
						height="32">
						<use href="../img/icons.svg#icon-burger"></use>
					</svg>
					<svg class="open"  
						width="32" 
						height="32">
						<use href="../img/icons.svg#icon-close"></use>
					</svg>
				</div>
			</div>
			<div class="mobile-menu">
				<ul class="mobile-menu-list">
					<li class="mobile-menu-item">
						<a class="mobile-menu-link" href="#how-it-works-section">How It Works</a>
					</li>
					<li class="mobile-menu-item">
						<a class="mobile-menu-link" href="#vegetables-section">Vegetables</a>
					</li>
					<li class="mobile-menu-item">
						<a class="mobile-menu-link" href="#reviews-section">Reviews</a>
					</li>
				</ul>
				<a class="main_cta" href="#your-order-section">Shop now</a>
			</div>
		</div>
	</div>
</header>



