<section class="hero">
  <div class="container-text">
    <h1 class="hero-title">organic vegetables to your diet today!</h1>
    <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables
      available. Fresh Harvest
      Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you</p>
  </div>
  <div class="container-image">
    <picture>
      <source media="(min-width: 1158px)" srcset="/img/hero/hero-bg-desk-min.jpeg, /img/hero/hero-bg-desk@2x-min.jpeg">
      <source media="(min-width: 768px)" srcset="/img/hero/hero-bg-tab-min.jpeg, /img/hero/hero-bg-tab@2x-min.jpeg">
      <source media="(max-width: 767px)" srcset="/img/hero/hero-bg-mob-min.jpeg, /img/hero/hero-bg-mob@2x-min.jpeg">
      <img class="hero-image" src="../img/hero/hero-bg-desk-min.jpeg" alt="Vegetables Basket" width="640">
    </picture>
  </div>
</section>