<section class="how-it-works" id="how-it-works-section">
  <h2 class="visually-hidden">Order steps</h2>
  <div class="container steps-container">
    <picture class="steps-images">
      <source media="(min-width: 1280px)"
        srcset="/src/img/how-it-works/cook_dt.webp 1x, 
        /src/img/how-it-works/cook_dt_2x.webp 2x" />
      <source media="(min-width: 768px)"
        srcset="/src/img/how-it-works/cook_pl.webp 1x, 
        /src/img/how-it-works/cook_pl_2x.webp 2x" />
      <source media="(max-width: 767px)"
        srcset="/src/img/how-it-works/cook_mob-min.webp 1x, 
        /src/img/how-it-works/cook_mob_2x.webp 2x" />
      <img src="/src/img/how-it-works/cook_dt.webp 1x" 
      alt="cooking" width="440" />
    </picture>
  
    <div class="steps-content">
      <h2 class="steps-title">
        TO ORDER YOUR <span class="highlight">VEGETABLE</span> BASKET, SIMPLY FOLLOW THESE <span class="highlight">EASY
          STEPS</span>
      </h2>
      <p class="steps-description">
        Our baskets are assembled with care and delivered straight to your doorstep,
        so you can enjoy the taste of fresh fruit without ever leaving your home.
      </p>
  
      <ol class="steps-list">
        <li>Just choose <b>the vegetable</b> you want to order by clicking on the checkboxes <b>next to it.</b></li>
        <li>Click on <b>the basket</b> and fill out the form.</li>
        <li>Sit back and relax! Your <b>fresh vegetables</b> basket will be delivered.</li>
      </ol>
    </div>
  </div>
</section>
