<section class="how-it-works" id="how-it-works-section">
  <h2 class="visually-hidden">Order steps</h2>
  <div class="steps-conteiner">
    <div class="container-img">
      <picture class="steps-images">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/how-it-works/cook_dt.webp    1x,
            /img/how-it-works/cook_dt_2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/how-it-works/cook_pl.webp    1x,
            /img/how-it-works/cook_pl_2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/how-it-works/cook_mob.webp    1x,
            /img/how-it-works/cook_mob_2x.webp 2x
          "
        />
        <img
          class="steps-img"
          src="/src/img/how-it-works/cook_dt.webp 1x"
          alt="cooking"
          width="640"
          height="640"
        />
      </picture>
    </div>
    <div class="steps-content">
      <div class="content-text">
        <h2 class="steps-title">
          TO ORDER YOUR <span class="highlight">VEGETABLE</span> BASKET, SIMPLY
          FOLLOW THESE <span class="highlight">EASY STEPS</span>
        </h2>
        <p class="steps-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>

      <div class="content-list">
        <ol class="steps-list">
          <li class="steps-item">
            <p>
              Just choose<span class="color-item-text">the vegetable</span> you
              want to order by clicking on the checkboxes
              <span class="color-item-text">next to it.</span>
            </p>
          </li>
          <li class="steps-item">
            <p>
              Click on <span class="color-item-text">the basket</span> and fill
              out the form.
            </p>
          </li>
          <li class="steps-item">
            <p>
              Sit back and relax! Your
              <span class="color-item-text">fresh vegetables</span> basket will
              be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
