<section class="how-it-works">
  <div class="steps-container">
    <picture>
      <source media="(min-width: 1280px)"
        srcset=" 1x,  2x" />
      <source media="(min-width: 768px)"
        srcset="p 1x,  2x" />
      <source media="(max-width: 767px)"
        srcset=" 1x,  2x" />
      <img src=" 1x" alt="" width="280" />
    </picture>
  
    <div class="steps-content">
      <h2 class="steps-title">
        TO ORDER YOUR <span class="highlight">VEGETABLE</span> BASKET, SIMPLY FOLLOW THESE <span class="highlight">EASY
          STEPS</span>
      </h2>
      <p class="steps-description">
        Our baskets are assembled with care and delivered straight to your doorstep,
        so you can enjoy the taste of fresh fruit without ever leaving your home.
      </p>
  
      <ol class="steps-list">
        <li>Just choose <b>the vegetable</b> you want to order by clicking on the checkboxes <b>next to it.</b></li>
        <li>Click on <b>the basket</b> and fill out the form.</li>
        <li>Sit back and relax! Your <b>fresh vegetables</b> basket will be delivered.</li>
      </ol>
    </div>
  </div>
  </section>
</section>
