<section class="reviews" id="reviews">
  <div class="title-box">
    <h2 class="rev-title">
      reviews from our <span class="rev-title-span">customers</span>
    </h2>
    <p class="rev-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
  </div>
  <ul class="rev-list">
    <li class="rev-item">
      <img
        srcset="
          /img/reviews/rev-img-1.webp    1x,
          /img/reviews/rev-img-1-2x.webp 2x
        "
        src="/img/reviews/rev-img-1.webp"
        alt="John Wax"
        class="rev-img"
        width="56px"
        height="56px"
      />
      <h3 class="rev-list-title">John Wax</h3>
      <p class="rev-list-text">
        These vegetables are my secret to delicious and healthy meals. The
        quality is always at the highest level, the aroma and taste are
        enchanting. I advise every fan of real products!
      </p>
    </li>
    <li class="rev-item hide">
      <img
        srcset="
          /img/reviews/rev-img-2.webp    1x,
          /img/reviews/rev-img-2-2x.webp 2x
        "
        src="/img/reviews/rev-img-2.webp"
        alt="Victoria Romashenko"
        class="rev-img"
        width="56px"
        height="56px"
      />
      <h3 class="rev-list-title">Victoria Romashenko</h3>
      <p class="rev-list-text">
        I love how fast and fresh the vegetables are delivered. Salads always
        turn out so appetizing, and soups are real masterpieces. The quality is
        impeccable!
      </p>
    </li>
    <li class="rev-item hide">
      <img
        srcset="
          /img/reviews/rev-img-3.webp    1x,
          /img/reviews/rev-img-3-2x.webp 2x
        "
        src="/img/reviews/rev-img-3.webp"
        alt="Ihor Trachuk"
        class="rev-img"
        width="56px"
        height="56px"
      />
      <h3 class="rev-list-title">Ihor Trachuk</h3>
      <p class="rev-list-text">
        Recently tried my fresh tomatoes and peppers - amazing! The authenticity
        of the taste, as if from the garden directly to my table. It is now my
        main vegetable supplier.
      </p>
    </li>
  </ul>
</section>
