<section id="vegetables-section" class="vegetables">
  <div class="container container-vegetables">
    <h2 class="title-vegetables">organic
      <span class="vegan">vegetables</span>
    </h2>
    <p class="text-vegetables">Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get
      the freshest and most nutritious produce possible.
    </p>
    <ul class="section-items">
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">eggplant</h3>
          <p class="text-vegan">60 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="/img/vegetables/pic-desk-eggplant-min.webp 1x, /img/vegetables/pic-desk-eggplant@2x-min.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="/img/vegetables/pic-tabl-eggplant-min.webp 1x, /img/vegetables/pic-tabl-eggplant@2x-min.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/pic-mob-eggplant-min.webp 1x, /img/vegetables/pic-mob-eggplant@2x-min.webp 2x" />
            <img src="/img/vegetables/pic-desk-eggplant-min.webp 1x" alt="eggplant 60 USD/kg" width="280" />
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">leek</h3>
          <p class="text-vegan">50 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="/img/vegetables/pic-desk-leek-min.webp 1x, /img/vegetables/pic-desk-leek@2x-min.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="/img/vegetables/pic-tabl-leek-min.webp 1x, /img/vegetables/pic-tabl-leek@2x-min.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/pic-mob-leek-min.webp 1x, /img/vegetables/pic-mob-leek@2x-min.webp 2x" />
            <img src="/img/vegetables/pic-desk-leek-min.webp 1x" alt="leek 50 USD/kg" width="280" />
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">mushrooms</h3>
          <p class="text-vegan">40 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="/img/vegetables/pic-desk-mushrooms-min.webp 1x, /img/vegetables/pic-desk-mushrooms@2x-min.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="/img/vegetables/pic-tabl-mushrooms-min.webp 1x, /img/vegetables/pic-tabl-mushrooms@2x-min.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/pic-mob-mushrooms-min.webp 1x, /img/vegetables/pic-mob-mushrooms@2x-min.webp 2x" />
            <img src="/img/vegetables/pic-desk-mushrooms-min.webp 1x" alt="mushrooms 40 USD/kg" width="280" />
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">corn</h3>
          <p class="text-vegan">60 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="/img/vegetables/pic-desk-corn-min.webp 1x, /img/vegetables/pic-desk-corn@2x-min.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="/img/vegetables/pic-tabl-corn-min.webp 1x, /img/vegetables/pic-tabl-corn@2x-min.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/pic-mob-corn-min.webp 1x, /img/vegetables/pic-mob-corn@2x-min.webp 2x" />
            <img src="/img/vegetables/pic-desk-corn-min.webp 1x" alt="corn 60 USD/kg" width="280" />
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">sweet potatoes</h3>
          <p class="text-vegan">50 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="/img/vegetables/pic-desk-potatos-min.webp 1x, /img/vegetables/pic-desk-potatos@2x-min.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="/img/vegetables/pic-tabl-potatos-min.webp 1x, /img/vegetables/pic-tabl-potatos@2x-min.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/pic-mob-potatos-min.webp 1x, /img/vegetables/pic-mob-potatos@2x-min.webp 2x" />
            <img src="/img/vegetables/pic-desk-potatos-min.webp 1x" alt="sweet potatoes 50 USD/kg" width="280" />
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">carrot</h3>
          <p class="text-vegan">40 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="/img/vegetables/pic-desk-carrot-min.webp 1x, /img/vegetables/pic-desk-carrot@2x-min.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="/img/vegetables/pic-tabl-carrot-min.webp 1x, /img/vegetables/pic-tabl-carrot@2x-min.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="/img/vegetables/pic-mob-carrot-min.webp 1x, /img/vegetables/pic-mob-carrot@2x-min.webp 2x" />
            <img src="/img/vegetables/pic-desk-carrot-min.webp 1x" alt="carrot 40 USD/kg" width="280" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>