<section class="section-vegetables">
  <div class="container">
    <h2 class="title-vegetables">organic
      <span class="vegan">vegetables</span>
    </h2>
    <p class="text-vegetables">Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get
      the freshest and most nutritious produce possible.
    </p>
    <ul class="section-items">
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">eggplant</h3>
          <p class="text-vegan">60 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="../img/vegetables/pic-desk-eggplant-min_26_11zon.webp 1x, ../img/vegetables/pic-desk-eggplant@2x-min_25_11zon.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="../img/vegetables/pic-tabl-eggplant-min_14_11zon.webp 1x, ../img/vegetables/pic-tabl-eggplant@2x-min_13_11zon.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="../img/vegetables/pic-mob-eggplant-min_2_11zon.webp 1x, ../img/vegetables/pic-mob-eggplant@2x-min_1_11zon.webp 2x" />
            <img src="../img/vegetables/pic-desk-eggplant-min_26_11zon.webp" alt="eggplant 60 USD/kg" width="280">
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">leek</h3>
          <p class="text-vegan">50 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="../img/vegetables/pic-desk-leek-min_28_11zon.webp 1x, ../img/vegetables/pic-desk-leek@2x-min_27_11zon.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="../img/vegetables/pic-tabl-leek-min_16_11zon.webp 1x, ../img/vegetables/pic-tabl-leek@2x-min_15_11zon.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="../img/vegetables/pic-mob-leek-min_4_11zon.webp 1x, ../img/vegetables/pic-mob-leek@2x-min_3_11zon.webp 2x" />
            <img src="../img/vegetables/pic-desk-leek-min_28_11zon.webp" alt="leek 50 USD/kg" width="280">
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">mushrooms</h3>
          <p class="text-vegan">40 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="../img/vegetables/pic-desk-mushrooms-min_30_11zon.webp 1x, ../img/vegetables/pic-desk-mushrooms@2x-min_29_11zon.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="../img/vegetables/pic-tabl-mushrooms-min_18_11zon.webp 1x, ../img/vegetables/pic-tabl-mushrooms@2x-min_17_11zon.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="../img/vegetables/pic-mob-mushrooms-min_7_11zon.webp 1x, ../img/vegetables/pic-mob-mushrooms@2x-min_5_11zon.webp 2x" />
            <img src="../img/vegetables/pic-desk-mushrooms-min_30_11zon.webp" alt="mushrooms 40 USD/kg" width="280">
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">corn</h3>
          <p class="text-vegan">60 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="../img/vegetables/pic-desk-corn-min_32_11zon.webp 1x, ../img/vegetables/pic-desk-corn@2x-min_31_11zon.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="../img/vegetables/pic-tabl-corn-min_20_11zon.webp 1x, ../img/vegetables/pic-tabl-corn@2x-min_19_11zon.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="../img/vegetables/pic-mob-corn-min_8_11zon.webp 1x, ../img/vegetables/pic-mob-corn@2x-min_6_11zon.webp 2x" />
            <img src="../img/vegetables/pic-desk-corn-min_32_11zon.webp" alt="corn 60 USD/kg" width="280">
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">sweet potatoes</h3>
          <p class="text-vegan">50 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="../img/vegetables/pic-desk-potatos-min_34_11zon.webp 1x, ../img/vegetables/pic-desk-potatos@2x-min_33_11zon.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="../img/vegetables/pic-tabl-potatos-min_22_11zon.webp 1x, ../img/vegetables/pic-tabl-potatos@2x-min_21_11zon.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="../img/vegetables/pic-mob-potatos-min_10_11zon.webp 1x, ../img/vegetables/pic-mob-potatos@2x-min_9_11zon.webp 2x" />
            <img src="../img/vegetables/pic-desk-potatos-min_34_11zon.webp" alt="sweet potatoes 50 USD/kg" width="280">
          </picture>
        </div>
      </li>
      <li class="cards-item">
        <div class="name-item">
          <h3 class="name-vegan">carrot</h3>
          <p class="text-vegan">40 USD / kg</p>
        </div>
        <div class="img-item">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="../img/vegetables/pic-desk-carrot-min_36_11zon.webp 1x, ../img/vegetables/pic-desk-carrot@2x-min_35_11zon.webp 2x" />
            <source media="(min-width: 768px)"
              srcset="../img/vegetables/pic-tabl-carrot-min_24_11zon.webp 1x, ../img/vegetables/pic-tabl-carrot@2x-min_23_11zon.webp 2x" />
            <source media="(max-width: 767px)"
              srcset="../img/vegetables/pic-mob-carrot-min_12_11zon.webp 1x, ../img/vegetables/pic-mob-carrot@2x-min_11_11zon.webp 2x" />
            <img src="../img/vegetables/pic-desk-carrot-min_36_11zon.webp" alt="carrot 40 USD/kg" width="280">
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>