<section class="your-order">
  <div class="container your-order-container">
    <h2 class="your-order-title">
      Fresh <span class="your-order-title-dustypink">Harvest</span> Box has got
      you covered
    </h2>
    <p class="your-order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <div class="your-order-card" id="your-order-section">
      <div class="your-order-form">
        <h3 class="your-order-form-text">
          Ordering <span class="your-order-form-text-wine">from us</span> is
          quick and easy! Fill out
          <span class="your-order-form-text-olivegreen">the form</span> below
          and we will contact you !
        </h3>
        <form>
          <div class="your-order-form-input">
            <input
              class="form-input"
              type="text"
              name="name"
              maxlength="45"
              autocomplete="off"
              required
              pattern="^[A-Za-zА-Яа-яЄєІіЇїҐґ]+(\s[A-Za-zА-Яа-яЄєІіЇїҐґ]+)*$"
              placeholder="Full name"
            />
          </div>
          <div class="your-order-form-input">
            <input
              class="form-input"
              type="email"
              name="email"
              maxlength="25"
              autocomplete="off"
              required
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})"
              placeholder="Email"
            />
          </div>
          <div class="form-field">
            <textarea
              class="comment"
              name="comment"
              autocomplete="on"
              placeholder="Comment"
            ></textarea>
          </div>
          <button class="form-btn" type="submit">Send</button>
        </form>
      </div>

      <div class="your-order-socials">
        <div class="your-order-img">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/your-order/your-order-desk-1x.webp 1x,
                /img/your-order/your-order-desk-2x.webp 2x
              "
              width="428"
              height="352"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/your-order/your-order-tab-1x.webp 1x,
                /img/your-order/your-order-tab-2x.webp 2x
              "
              width="536"
              height="316"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/your-order/your-order-mob-1x.webp 1x,
                /img/your-order/your-order-mob-2x.webp 2x
              "
              width="295"
              height="272"
            />
            <img
              src="/img/your-order/your-order-desk-1x.webp"
              alt="Fresh Harvest Box"
              width="428"
              height="352"
            />
          </picture>
        </div>
        <p class="your-order-socials-text">Follow us on our social networks:</p>
        <ul class="your-order-socials-list">
          <li class="your-order-socials-item">
            <a 
              class="your-order-socials-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >instagram</a
            >
          </li>
          <li class="your-order-socials-item">
            <a
              class="your-order-socials-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >facebook</a
            >
          </li>
          <li class="your-order-socials-item">
            <a
              class="your-order-socials-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
