html {
  scroll-behavior: smooth; /* Плавний скрол */
}
body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;

 
  color: #ffffff;
  background-color: #ffffff;
  margin: 0;


h1,
h2 {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}
