.footer {
  background-color: #7a3145;
  color: white;
  padding: 40px 20px;
}

.footer-container {
  max-width: 335px;
}

.footer-logo {
  width: 168px;
  height: 16px;
  margin-bottom: 14px;
}

.footer-svg {
}

.footer-slogan {
  width: 265px;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
}

.footer-head {
  margin-bottom: 40px;
}

.footer-menu-contacts {
  margin-bottom: 80px;
}

.footer-nav {
}

.footer-menu {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-contacts {
  width: 195px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.contacts-list-item:last-child {
  max-width: 179px;
}

.footer-bottom {
  color: #d4bfc4;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  bottom: 0;
}

.pr-pol {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}

.pr-pol-text {
  font-size: 14px;
  line-height: 1.42857;
}

/* @media screen and (min-width: 768px) {
  body,
  main,
  footer {
    padding: 0 !important;
    margin: 0 !important;
  }

  .footer {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-logo {
    margin-bottom: 24px;
    margin: 32px;
  }

  .footer-slogan {
    font-size: 16px;
    line-height: 2;
    max-width: 500px;
  }

  .footer-nav {
    margin-bottom: 64px;
  }

  .footer-menu {
    justify-content: space-between;
  }

  .footer-menu-contacts {
    width: 227px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 32px;
    padding-left: 147px;
  }

  .footer-bottom {
    width: 704px;
    margin: 0 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #d4bfc4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 100px;
  }
}

/* @media screen and (mim-width: 375px) {
  body,
  main,
  footer {
    padding: 0 !important;
    margin: 0 !important;
  }

  .footer {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .footer-logo {
    margin: 0;
    padding-top: 40px;
  }
  .footer-menu-contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .footer-container {
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
  }

  .pr-pol {
    padding-bottom: 16px;
  }

  .footer-nav {
    padding-top: 40px;
    margin-bottom: 104px;
  }
  .footer-bottom {
    flex-wrap: wrap;
    margin-left: 20px;
    padding-top: 80px;
  }
} */
