.footer {
  background-color: #7a3145;
  color: white;
}

.footer-container {
  max-width: 335px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-hover:hover,
.footer-hover:focus {
  color: #d4bfc4;
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer-logo {
  width: 168px;
  height: 16px;
  margin-bottom: 14px;
  fill: #fbfbfb;
}

.footer-slogan {
  width: 265px;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
}

@media screen and (max-width: 767px) {
  .footer-head {
    margin-bottom: 40px;
  }

  .footer-menu-contacts {
    margin-bottom: 80px;
  }
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-contacts {
  width: 195px;
}

.contacts-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (max-width: 767px) {
  .contacts-list-item:last-child {
    max-width: 179px;
  }
  .pr-pol {
    gap: 8px;
    margin-bottom: 16px;
  }
}

.footer-bottom {
  color: #d4bfc4;
  bottom: 0;
}

.pr-pol {
  display: flex;
  flex-direction: row;
}

.pr-pol-text {
  font-size: 14px;
  line-height: 1.42857;
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 704px;
    padding: 32px 0;
  }

  .footer-inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .footer-logo {
    width: 216px;
    height: 20px;
    margin-bottom: 24px;
  }

  .footer-slogan {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-nav {
    margin-bottom: 64px;
  }

  .footer-menu-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .footer-contacts {
    width: 215px;
  }

  .contacts-list-item {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer-bottom {
    color: #d4bfc4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
  }

  .pr-pol-text {
    font-size: 16px;
  }

  .pr-pol {
    gap: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1080px;
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .footer-nav {
    margin-bottom: 0;
  }

  .footer-inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 124px;
  }

  .footer-menu-contacts {
    display: flex;
    flex-direction: row;
    gap: 121px;
  }

  .contacts-list-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .pr-pol {
    gap: 12px;
  }
}
