/* HERO-MOB */

.hero {
  background-color: #576f35;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container-hero {
  max-width: 375px;
  background-color: #576f35;
}

.container-text {
  padding: 100px 20px 40px;
  text-align: start;
}

.hero-title {
  font-size: 52px;
  margin: 0 auto 20px auto;
}

.hero-text {
  font-size: 14px;
  line-height: 1.42;
}

.container-image {
  background-image: url(/img/hero/hero-bg-mob-min.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 372px;
  z-index: 100;
}

@media screen and (min-resolition: 2x) {
  .container-image {
    background-image: url(/img/hero/hero-bg-mob@2x-min.jpeg);
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 40px;
  }
}

/* HERO-TAB */

@media screen and (min-width: 768px) {
  .container-hero {
    max-width: 768px;
  }

  .container-text {
    padding: 120px 32px 52px;
  }

  .hero-title {
    font-size: 76px;
    max-width: 704px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }

  .container-image {
    background-image: url(/img/hero/hero-bg-tab-min.jpeg);
    background-size: contain;
    padding: 0;
    margin: 0;
    height: 536px;
  }

  @media screen and (min-resolition: 2x) {
    .container-image {
      background-image: url(/img/hero/hero-bg-tab@2x-min.jpeg);
    }
  }
}

/* HERO-DESK */
/* 
@media screen and (min-width: 1158px) {
  .container-hero {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
  }

  .hero {
    display: flex;
    flex-direction: row;
  }

  .container-text {
    width: 50%;
    padding-top: 148px;
    padding-right: 36px;
    padding-left: 100px;
  }

  .hero-title {
    font-size: 76px;
    max-width: 502px;
    margin-bottom: 128px;
  }

  .hero-text {
    width: 472px;
    padding-right: 32px;
  }

  .container-image {
    background-image: url(/img/hero/hero-bg-desk-min.jpeg);
    width: 50%;
    width: 640px;
    height: 796px;
    background-size: auto;
  }

  @media screen and (min-resolition: 2x) {
    .container-image {
      background-image: url(/img/hero/hero-bg-desk@2x-min.jpeg);
    }
  }
} */
@media screen and (min-width: 1280px) {
  .container-hero {
    width: 1280px;
    display: flex;
  }
  .container-text {
    width: 640px;
    padding-top: 232px;
    padding-right: 36px;
    padding-left: 100px;
  }
  .hero-title {
    font-size: 76px;
    width: 502px;
    margin-bottom: 128px;
  }
  .hero-text {
    width: 472px;
  }
  .container-image {
    background-image: url(/img/hero/hero-bg-desk-min.jpeg);
    width: 640px;
    height: 796px;
    background-size: auto;
  }
  @media screen and (min-resolition: 2x) {
    .container-image {
      background-image: url(/img/hero/hero-bg-desk@2x-min.jpeg);
    }
  }
}
