/* HERO-MOB */

.hero {
  background-color: #576f35;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container-text {
  padding: 48px 20px 40px;
  text-align: start;
}

.hero-title {
  font-size: 52px;
  margin: 0 auto 20px auto;
}

.hero-text {
  font-size: 14px;
  line-height: 1.42;
}

.container-image {
  background-image: url(../img/hero/hero-bg-mob-min.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 372px;
}

@media screen and (min-resolition: 2x) {
  .container-image {
    background-image: url(/img/hero/hero-bg-mob@2x-min.jpeg);
  }
}

/* HERO-TAB */

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }

  .container-text {
    padding: 48px 32px 52px;
  }

  .hero-title {
    font-size: 76px;
    max-width: 704px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }

  .container-image {
    background-image: url(/img/hero/hero-bg-tab-min.jpeg);
    background-size: contain;
    padding: 0;
    margin: 0;
    height: 536px;
  }

  @media screen and (min-resolition: 2x) {
    .container-image {
      background-image: url(../img/hero/hero-bg-tab@2x-min.jpeg);
    }
  }
}

/* HERO-DESK */

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1280px;
    flex-direction: row;
  }

  .container-text {
    width: 50%;
    padding: 148px 36px 52px 100px;
  }

  .hero-title {
    font-size: 76px;
    max-width: 502px;
    margin-bottom: 128px;
  }

  .hero-text {
    max-width: 472px;
    padding-right: 32px;
  }

  .container-image {
    background-image: url(/img/hero/hero-bg-desk-min.jpeg);
    width: 50%;
    max-width: 640px;
  }

  @media screen and (min-resolition: 2x) {
    .container-image {
      background-image: url(../img/hero/hero-bg-desk@2x-min.jpeg);
    }
  }
}
