.reviews {
  padding: 80px 20px;
}

.title-box {
  margin-bottom: 40px;
  max-width: 335px;
}

.rev-title {
  margin-bottom: 20px;
  font-size: 47px;
  line-height: 1.08333;
  color: #141414;
}

@media screen and (min-width: 375px) {
  .rev-title {
    font-size: 48px;
  }
}

.rev-title-span {
  color: #576f35;
}

.rev-text {
  line-height: 1.42857;
  color: #141414;
  font-size: 14px;
}

.rev-item {
  transition: opacity 0.3s ease-in-out;
  display: block;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  max-height: 228px;
}

.hide {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.rev-img {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.rev-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}

.rev-list-text {
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #858585;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding: 100px 32px;
  }

  .title-box {
    margin-bottom: 52px;
    max-width: 553px;
  }

  .rev-title {
    margin-bottom: 24px;
    font-size: 64px;
  }

  .rev-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .rev-list {
    display: flex;
    gap: 24px;
  }

  .rev-item {
    max-height: 248px;
    width: calc((100% - 24px) / 2);
    padding-left: 26px;
    padding-right: 26px;
  }

  .hide:not(:last-child) {
    display: block;
  }

  .rev-list-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews {
    padding: 100px;
  }

  .rev-item {
    width: calc((100% - 24px) / 3);
    padding-left: 28px;
    padding-right: 28px;
  }

  .hide {
    display: block;
  }
}
