.your-order {
  background-color: #576f35;
  width: 100%;
}
.your-order-container {
  padding: 80px 20px;
  margin-left: auto;
  margin-right: auto;
}

.your-order-title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.your-order-title-dustypink {
  color: #d4bfc4;
}
.your-order-text {
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  margin-bottom: 40px;
}
/*///форма/////*/

.your-order-form {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
  width: 100%;
  height: 552px;
  margin: 0 auto;
  background-color: #fbfbfb;
}

.your-order-form-text {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}
.your-order-form-text-wine {
  color: #7a3145;
}
.your-order-form-text-olivegreen {
  color: #576f35;
}
.your-order-form-input:not(:last-child){
  margin-bottom: 16px;
}
.form-input {
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 14px 0 14px 16px;
  width: 100%;
  height: 48px;
 
  outline: none;
}
.form-input:hover,
.form-input:focus {
  border-color: #7a3145;
}

.form-input:focus:valid {
  border-color: #3cbc81;
}

.form-input:focus:invalid {
  border-color: #e74a3b;
}

.form-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}

.comment {
  border: 1px solid #858585;
  border-radius: 15px;
  padding: 14px 16px;
  width: 100%;
  height: 92px;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  margin-bottom: 20px;
  outline: none;
}
.comment:hover,
.comment:focus {
  border-color: #7a3145;
}

.comment::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}

.form-btn {
  font-size: 18px;
  line-height: 1.1;
  color: #fbfbfb;

  border-radius: 30px;
  border: none;
  text-align: center;
  width: 100%;
  height: 52px;
  background-color: #7a3145;
}
/* /////////соцмережі////// */

.your-order-socials {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
  background-color: #7a3145;
  margin: 0 auto;
}
.your-order-img {
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: rgba(20, 20, 20, 0.2);
}
.your-order-socials-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
  margin-bottom: 16px;
}
.your-order-socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.your-order-socials-item:not(:last-child)::after {
  content: ' / ';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-left: 8px;
}

.your-order-socials-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

/*////// Адаптивність ////*/

@media only screen and (min-width: 768px) {
  .your-order-container {
    padding: 100px 32px;
  }
  .your-order-title {
    font-size: 64px;
    line-height: 1;
    max-width: 640px;
  }
  .your-order-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 640px;
  }
  .your-order-form {
    padding: 72px 100px;
    max-width: 640px;
  }
  .your-order-form-text {
    font-size: 32px;
  }
  .form-input {
    padding: 16px 0 16px 16px;
    height: 52px;
  }

  .comment::placeholder,
  .form-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .comment {
    padding: 16px 0 59px 16px;
    height: 96px;
  }
  .form-btn {
    height: 52px;
  }
  .your-order-socials {
    padding: 52px;
    max-width: 640px;
  }
  .your-order-img {
    margin-bottom: 52px;
  }
  .your-order-socials-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .your-order-container {
    padding: 100px;
    margin: 0 auto;
  }
  .your-order-title {
    max-width: 751px;
  }
  .your-order-text {
    max-width: 742px;
  }
  .your-order-card {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .your-order-form {
    padding: 52px 48px;
    max-width: 524px;
  }
  .your-order-socials {
    padding: 52px 48px;
    max-width: 524px;
  }
}
