.your-order {
  padding: 80px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #576f35;
}

.your-order_text {
  padding-left: auto;
}
.your-order-title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
  width: 335px;
}
.your-order-title-dustypink {
  color: #d4bfc4;
}
.your-order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  margin-bottom: 40px;
  width: 335px;
}

.your-order-form {
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  height: 552px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fbfbfb;
}

.your-order-form-text {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}
.your-order-form-text-wine {
  color: #7a3145;
}
.your-order-form-text-olivegreen {
  color: #576f35;
}
.form-input {
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 14px 0 14px 16px;
  width: 295px;
  height: 48px;
  margin-bottom: 16px;
  outline: none;
}
.form-input:hover,
.form-input:focus {
  border-color: #7a3145;
}

.form-input:focus:valid {
  border-color: #3cbc81;
}

.form-input:focus:invalid {
  border-color: #e74a3b;
}

.form-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}

.comment {
  border: 1px solid #858585;
  border-radius: 15px;
  padding: 14px 219px 59px 16px;
  width: 295px;
  height: 92px;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  padding-right: 0;
  margin-bottom: 20px;
  outline: none;
}
.comment:hover,
.comment:focus {
  border-color: #7a3145;
}
.comment::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}

.form-btn {
  font-size: 18px;
  line-height: 1.1;
  color: #fbfbfb;

  border-radius: 30px;
  border: none;
  padding: 16px 129px;
  width: 295px;
  height: 52px;
  background-color: #7a3145;
}

.your-order-socials {
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  height: 456px;
  background-color: #7a3145;
  margin: 0 auto;
}
img {
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: rgba(20, 20, 20, 0.2);
}
.your-order-socials-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
  margin-bottom: 16px;
}
.your-order-socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.your-order-socials-item:not(:last-child)::after {
  content: ' / ';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-left: 8px;
}

.your-order-socials-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
